@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
}
<table class="table" id="restaurants">

</table>
<h3>Client Restaurants</h3>
@section Scripts {
    <environment include="Development">
        <script src="c:\dotnetproject\odetofood\odetofood\node_modules\datatables.net\js\datatables.js"></script>
        <script src="c:\dotnetproject\odetofood\odetofood\node_modules\datatables.net-bs5\js\datatables.bootstrap5.js"></script>
        <link href="c:\dotnetproject\odetofood\odetofood\node_modules\datatables.net-bs5\css\datatables.bootstrap5.css" rel="stylesheet" />
    </environment>
    <enviornment exclude ="Development">
        <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-WMi+Ec+QE8hxW/3qKvuefShIddYjwMalSgy0MR4FZnl285C4HGYfISceaagw0Am3" crossorigin="anonymous">
        <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/datatables.min.js" integrity="sha384-WcZXtPeSp12Ybwm08R/IL8F3bMhrj0WW6jKsqKXTqJSwCSkISe4unYVY8Vzc1RZc" crossorigin="anonymous"></script>
    </enviornment>

    <script>
        var cuisines = ["Unknown","Mexican", "Italian", "Indian"]
        $(function(){
            $.ajax({
                url: window.location.origin + "/api/restaurants",
                method: "GET"
            })
            .then(function(response){
                $("#restaurants").dataTable({
                    data:response,
                    columns:[
                        {"data":"name"},
                        {"data":"location"},
                        {"data":"cuisine", "render":function(data){
                            return cuisines[data];
                            }
                        }
                    ]
                })
            })
            .fail(function(error){
                console.error("Error fetching restaurants:", error);
            });
        });
    </script>
}
